<div fxLayout="row" fxLayoutAlign="center center" class="container">
  <div fxLayoutGap="24px" fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="center center">
      <button mat-icon-button (click)="clear()">
        <span
          class="material-icons md-light"
          matBadge="{{ msgNumber }}"
          matBadgeColor="warn"
          [matBadgeHidden]="isBadgeHidden()"
          >mail_outline</span
        >
      </button>
    </div>
    <div fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="center center">
      <button
        (click)="start()"
        mat-raised-button
        color="primary"
        [disabled]="hasStarted"
      >
        Start receiving
      </button>

      <button
        (click)="stop()"
        mat-raised-button
        color="accent"
        [disabled]="!hasStarted"
      >
        Stop receiving
      </button>
    </div>
  </div>
</div>
